<nav>
  <ul>
    <li><a href="/">Hostname</a></li>
    <li><a href="/poddetails">Pod Details</a></li>
    <li><a href="/diary">Diary</a></li>
    <li><a href="/healthcheck">Health Check</a></li>
  </ul>
</nav>
