# Node modules 디렉토리와 npm 캐시 디렉토리를 제외
node_modules
npm-debug.log
yarn-error.log

# Docker 관련 파일 제외
Dockerfile
.dockerignore

# Git 관련 파일 제외
.git
.gitignore

# 운영체제 별 파일 제외
.DS_Store
Thumbs.db

# IDE/Editor 관련 파일 제외
.vscode
.idea

# 테스트 커버리지 디렉토리 제외
coverage

# 환경 변수 파일 제외
.env

# 빌드 출력 디렉토리 제외
dist
build